<div  layout="column"
      layout-align="center center"
      layout-padding layout-fill>

      <div flex="50%">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools md-display-3">Register</h1>
        </md-toolbar>

        <auth-form
          user="$ctrl.user"
          message="{{ $ctrl.error }}"
          button="Register"
          on-submit="$ctrl.registerUser($event)">
        </auth-form>

        <md-button class="md-primary"
                   ui-sref="auth.login">
          Already have an account? Login here.
        </md-button>
      </div>


</div>
